.wizardStep {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}
.wizardStep__number {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: width, height;
    vertical-align: middle;
    min-width: 38px;
    min-height: 38px;
    color: rgba(var(--theme-color), 0.9);
    background-color: #efeff1;
    border-radius: 0.375rem;
}
.activeWizardStep .wizardStep__number {
    background-color: rgb(var(--theme-primary));
    color: rgb(var(--theme-on-primary));
    box-shadow: 0 2px 6px rgba(var(--theme-primary), 0.3);
}
.wizardStep__number h5 {
    font-weight: 500;
    line-height: 1.75rem;
    font-size: 1.125rem;
    letter-spacing: normal;
    text-transform: none;
}
.wizardStep__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wizardStep__details h2 {
    color: rgba(var(--theme-color), 0.9);
    font-size: 0.9375rem;
    font-weight: 500;
    margin-top: 0.1rem;
}
.wizardStep__details p {
    color: rgba(var(--theme-color), 0.4);
    font-size: 0.8125rem;
    line-height: 1.25rem;
}
.wizardStep__arrow {
    padding-inline: 1.5rem;
}
.wizardStep__arrow svg {
    width: 20px;
    height: 20px;
    color: rgba(var(--theme-color), 0.6);
}
