.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.resend_prompt {
    @apply text-center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
}

.resend_prompt p {
    @apply text-[#6E6B7B] text-sm;
}
.resend_prompt p.change_email {
    font-size: 0.85rem;
}
.resend_prompt a {
    @apply text-[#7367F0] hover:underline transition duration-200 ease-in-out;
}
