.body > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1.6rem;
}
.body > div:first-of-type {
    overflow: auto;
}
.body > div:first-of-type::-webkit-scrollbar {
    display: none;
}
.content {
    width: 100%;
    padding: 1.6rem;
}
.body {
    padding-inline: 1.6rem;
    border-bottom: 1px solid rgb(47, 43, 61, 0.12);
}
