.registerContainer {
    @apply min-h-screen flex bg-[#F8F7FA] font-sans;
}
.banner_container > img:first-of-type {
    max-width: 520px;
    margin-bottom: 7rem;
}
.formSide {
    @apply w-full lg:w-1/2 flex items-center justify-center p-8 bg-white max-w-screen-sm;
}

.formContainer {
    @apply w-full max-w-[450px] space-y-8;
}

.signupPrompt {
    @apply text-center;
}

.signupPrompt p {
    @apply text-[#6E6B7B] text-sm;
}

.signupPrompt a {
    @apply text-[#7367F0] hover:underline transition duration-200 ease-in-out;
}

.divider {
    @apply relative;
}

.dividerLine {
    @apply absolute inset-0 flex items-center;
}

.dividerLine::before {
    @apply w-full border-t border-[#D8D6DE];
    content: "";
}

.divider span {
    @apply relative flex justify-center text-sm px-4 bg-white text-[#6E6B7B];
    width: fit-content;
    margin: auto;
}
