.auth_container {
    @apply min-h-screen flex bg-[#f8f8fa];
    align-items: center;
    justify-content: center;
}
.form_side {
    @apply w-full lg:w-1/2 flex items-center justify-center p-8 bg-white max-w-screen-sm;
    border-radius: 0.5rem;
    position: relative;
    z-index: 10;
    width: 440px;
    box-shadow: 0 3px 12px rgba(47, 43, 61, 0.14), 0 0 transparent, 0 0 transparent;
}
.auth_container > div {
    width: 100%;
    position: relative;
    max-width: 460px;
    margin: auto;
}
.auth_form_container {
    @apply w-full max-w-[450px] space-y-8;
}
.top_shape {
    inset-block-start: -77px;
    inset-inline-start: -45px;
    color: rgba(115, 103, 240, 1);
    position: absolute;
}
.bottom_shape {
    inset-block-end: -58px;
    inset-inline-end: -58px;
    color: rgba(115, 103, 240, 1);
    position: absolute;
}
